/**********GENERAL*********/
*{
    font-family: 'Quicksand', sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #097c07 20%, #22c92d 130%);
    background-attachment: fixed;
    height: 100vh;
}
#container{
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    margin-bottom: 100px;
}
/*********LOGO Y TITULO********/
#container h1{
    display: block;
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    color: #37FF4B;
    margin-bottom: 60px;
}
#logotipo{
    width: 60%;
    text-align: center;
}
#logotipo img{
    width: 70%;
}
/***********FORM**********/
#login{
    display: flex;
    width: 30%;
    flex-flow: wrap column;
}
#login #input-user,
#login #input-password{
    background-color: transparent;
    margin-bottom: 20px;
    height: 34px;
    color: white;
    border: 1px solid white;
    padding-left: 10px;
    letter-spacing: 1px;
    box-shadow: 0px 0px 3px white inset;
    transition: all 300ms;
}
#login #input-user:focus,
#login #input-password:focus{
    height: 34px;
    letter-spacing: 2px;
    box-shadow: 0px 0px 5px white inset;
    outline: none;
    transition: all 300ms;
}
#login ::placeholder{
    color: rgba(255, 255, 255, 0.589);
}
#login button,
#login input[type="submit"]{
    background-color: #2A8B21;
    border: 2px solid white;
    border-radius: 40px;
    height: 35px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 400ms;
}
#login button:hover,
#login input[type="submit"]:hover{
    background-color: #22c92d;
    transform: scaleX(1.02);
    color: #0c5c14;
    transition: all 400ms;
}
#login button:active,
#login input[type="submit"]:active{
    outline: none;
    box-shadow: 0px 0px 5px white inset, 0px 0px 5px white;
}
#login button:focus-within,
#login input[type="submit"]:focus-within{
    outline: none;
}
#login span{
    position: absolute;
    margin-top: 160px;
    color: white;
    padding: 5px;
    width: 20%;
    background-color: rgba(255, 0, 0, 0.493);
}
/****************PROGRESS CIRCLE*************/
#progress-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width:100%;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.445);
}
#progress-circle img{
    animation: progress-animate 2s linear infinite ;
    width: 4%;
}
/********RESPONSIVE*********/
@media (max-width: 1250px){
    #logotipo img{
        width: 90%;
        margin-left: 0px;
    }
}
@media (max-width: 1030px){
    #logotipo img{
        width: 95%;
    }
    #login{
        width: 35%;
    }
}
@media (max-width: 841px){
    #container{
        width: 80%;
    }
    #progress-circle img{
        width: 8%;
    }
}
@media (max-width: 736px){
    #container{
        width: 90%;
    }
}
@media (max-width: 654px){
    #container{
        display: flex;
        flex-flow: column wrap;
    }
    #progress-circle{
        height: 1fr;
    }
    #login{
        width: 100%;
        order: 3;
    }
    #logotipo{
        width: 100%;
        order: 1;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    h1{
        margin-top: 0px;
        order: 2;
    }
    #login #input-user,
    #login #input-password{
        margin-bottom: 15px;
    }
    #login span{
        width: 88%;
    }
}
@media (max-width: 361px){
    #container h1{
        font-size: 22px;
    }
    #login #input-user,
    #login #input-password{
        margin-bottom: 10px;
    }
    #login span{
        margin-top: 140px;
        width: 86%;
    }
}

@keyframes progress-animate{
    to{
        transform: rotate(360deg);
    }
    from{
        transform: rotate(0deg);
    }
}